 .site-heading{
     text-align: center;
    letter-spacing: 3px;
    margin: 0;
    font-family: Modak,sans-serif;
    font-size: 90px;
    color: #BB2A38;
    background: url("../images/logo.jpg");
    background-repeat: no-repeat;
}